@font-face {
  font-family: "Mikhak";
  src: url(./../fonts/Mikhak-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Mikhak";
  src: url(./../fonts/Mikhak-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Mikhak";
  src: url(./../fonts/Mikhak-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
body,
input,
button {
  font-family: "Mikhak";
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
a {
  text-decoration: none;
}
p {
  text-align: justify;
}
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #f6f6f6;
}
.service i {
  font-size: 4rem;
}
.service h4 {
  font-weight: 700;
}
/* Off canvas */
.canvas {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 25px;
  bottom: 25px;
}
.canvas .bi-telephone {
  font-size: 1.5rem;
}

/* footer */
.list-footer {
  font-size: 1.2rem;
}
.list-footer li a {
  color: #212529;
  transition: all 0.4s ease;
}
.list-footer li a:hover {
  color: #212529;
  padding-right: 1rem;
}
